@font-face {
    font-family: "BigShoulder";
    font-style: normal;
    font-weight: 400;
    src: url(../../assests/fonts/BigShouldersDisplay-Regular.ttf);
  }
  
  @font-face {
    font-family: "BigShoulder";
    font-style: normal;
    font-weight: 600;
    src: url(../../assests/fonts/BigShouldersDisplay-Bold.ttf);
  }
  