@import "./styles/partials/fonts";

.App {
  text-align: center;
  background-color: whitesmoke;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  font-family: 'BigShoulder';
  font-size: 1.2rem;
  margin: auto;
}
html, body, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
    
}

*, *:before, *:after {
  box-sizing: inherit;
}